# Node modules
**/node_modules/

# Logs
**/logs/
*.log

# TypeScript
*.tsbuildinfo

# dotenv environment variables file
.env

# Temporary files
**/tmp/
**/temp/

# local config
**/config/

# Next.js build output
**/.next/

# typescript build output
*.js
*.js.map
*.d.ts

# VS Code settings
.vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/jsconfig.json
.vscode/extensions.json